[2012-02-21 04:18] aarontwf opened #1 "Gamemode Saving"
Switch back to your previous gamemode after leaving a Battle.

[2012-02-21 04:20] aarontwf opened #2 "BattleNight-Protect"
Make a Arena protection/rebuild addon.

[2012-02-21 04:22] aarontwf opened #3 "BattleNight-Rewards Addon"
Add a rewards system using the major economy systems (i use iconomy) and items to make the Battles seem more rewarding.

[2012-02-21 04:29] aarontwf opened #4 "More Battle types"
Add system to allow other PvP styles, such as CTF, TDM, FFA.

[2012-02-21 21:52] Bobbyfrank opened #5 "Inventory Saving"
Make it so that it stores your inventory, not just clear it or prompt you to clear it.

[2012-02-27 23:34] mrcashking228 opened #6 "Mob Arena Combined With BattleNight"
Hey I just thought I should let you know. There is a huge glitch with the plugin: Mob Arena. If you join BN pick a class then join mob arena you can leave bn then leave mob arena and it will put u in the bn lobby with the class you chose and youre in neither arena so u can tp home and put the items away. im not sure how difficult this is to fix but i just thought i should let you know. Another sma

[2012-03-06 23:33] ScottSpittle opened #7 "Unhandled exception executing command 'bn' in plugin BattleNight v1.0"
08:16:21 [SEVERE] null
org.bukkit.command.CommandException: Unhandled exception executing command 'bn' in plugin BattleNight v1.0
        at org.bukkit.command.PluginCommand.execute(PluginCommand.java:42)
        at org.bukkit.command.SimpleCommandMap.dispatch(SimpleCommandMap.java:166)
        at org.bukkit.craftbukkit.CraftServer.dispatchCommand(CraftServer.java:461)
        at net.minecraft.ser

[2012-03-07 04:40] aarontwf commented on #7
Was this a once off or is it constantly happening?

[2012-03-07 04:42] aarontwf opened #8 "Player Statistics"
Add player statistics recording and a leaderboard system.

[2012-03-07 04:43] aarontwf opened #9 "Health Saving"
Switch back to your previous health level after leaving a Battle.

[2012-03-07 04:43] aarontwf opened #10 "Hunger Saving"
Switch back to your previous hunger level after leaving a Battle.

[2012-03-07 04:46] aarontwf opened #11 "Experience Saving"
Switch back to your previous experience level after leaving a Battle.

[2012-03-07 07:48] ScottSpittle commented on #7
Yes it was a One Off.

[2012-03-07 08:07] aarontwf commented on #7
Ok, I wouldn't worry about it unless it was more frequent.

[2012-03-07 08:07] #7 closed, assigned to aarontwf

[2012-03-08 05:18] theryangithubber commented on #1
This would be helpful,
getting stuck in survival mode without the permissions to change is rather annoying.
Especially because I got stuck inside a large wooden box without build permissions.

[2012-03-10 07:30] #1 closed, assigned to aarontwf

[2012-03-10 07:30] #9 closed, assigned to aarontwf

[2012-03-10 07:30] #11 closed, assigned to aarontwf

[2012-03-10 07:30] #10 closed, assigned to aarontwf

[2012-03-10 07:31] aarontwf commented on #1
Done

[2012-03-10 07:32] aarontwf commented on #11
Done

[2012-03-10 07:32] aarontwf commented on #10
Done

[2012-03-10 07:32] aarontwf commented on #9
Done

[2012-03-10 08:57] aarontwf commented on #5
Done

[2012-03-10 08:57] #5 closed, assigned to aarontwf

[2012-03-12 09:48] grichecth opened #12 "Multiple lives settings"
Anyway chance of getting an option in the config to set more than one life?

[2012-03-12 18:58] aarontwf commented on #12
Not at the moment but it is a feature that I am really keen on adding.

[2012-03-13 06:43] PTluzitano opened #13 "Cheating items with chests"
Hello.
1st of all.. great job on create this pluggin.. i hade so many fun making the arena snd play against my son on my server
BUT .. we found this:

My son was plying with some friends.. they made /Bn join .. they choosed the Tank (Best Armour) then they just /Home .. locked the gear on a chest and /Bn Leave... Voilá.. they did that with all gear and pots and more pots till fullfill 109208948719

[2012-03-16 03:48] aarontwf commented on #13
Ok, ill work on it.

[2012-03-16 06:38] PTluzitano commented on #13
ty :) hope see a great update soon .

[2012-03-23 02:46] aarontwf opened #14 "Multiple Arenas"
Add the ability to set multiple arenas.

[2012-03-23 02:47] aarontwf opened #15 "Improved API"
A better public API with documentation.

[2012-03-30 06:46] Lildirt commented on #14
Yes. This plugin needs multiple arenas, big time. I'm pretty depressed that it doesn't really.. it's the only reason why I'm not using it.. I want moar! D:

[2012-03-30 12:13] weja opened #16 "REQUEST: Disable name colour change in TAB"
FEATURE REQUEST:

Could you make it toggleable whether the name changes to red and blue?

It's very annoying, because our moderators have red name, and it creates lots of confusion when suddenly half of the players online look like admins and moderators.

I do not want that the name changes color depending the team you are in.

[2012-03-30 12:14] weja opened #17 "BUG: PvP Override in whole world"
BUG?

It also seems that BattleNight overrides PvP to true in the whole world, when I just want it to be allowed in small region with worldguard region flag. Now people can pvp in the whole world.

This also overrides the PvP entirely in other worlds where I have set multiverse pvp=allow. Anyone can PvP there even inside protected regions.

[2012-04-01 04:27] predawnia commented on #17
Yes, confirmed.
It overrides my Towny Advanced Non-PVP plots to PVP.

Running on CB#2126

[2012-04-01 23:04] hiown opened #18 "16 Character Max for Names"
I have a user that has a 17 character name and it floods me with this Error Message whenever he joins a game:

[SEVERE] null
org.bukkit.command.CommandException: Unhandled exception executing command 'bn' in plugin BattleNight v1.1
    at org.bukkit.command.PluginCommand.execute(PluginCommand.java:42)
    at org.bukkit.command.SimpleCommandMap.dispatch(SimpleCommandMap.java:166)
    at org.bukkit.

[2012-04-01 23:04] hiown commented on #18
Is there any way I can do a quick fix for this myself as it is extremely bothersome to me

[2012-04-03 04:44] aarontwf commented on #17
Fixed

[2012-04-03 04:44] #17 closed, assigned to nobody

[2012-04-03 04:45] aarontwf commented on #18
Not at the moment, sorry.  I though I fixed this :(

[2012-04-03 04:50] aarontwf commented on #14
What sort of multiple arena system are you talking about?  One where you choose the arena to join or one where you are assigned to a random arena?

[2012-04-03 04:56] aarontwf opened #19 "BattleStart Event"
An event which is cast when a Battle starts.

[2012-04-03 04:57] aarontwf opened #20 "BattleEnd Event"
An event which is cast when a Battle ends.

[2012-04-03 18:23] nick331999 opened #21 "Suggestions..."
I love this plugin! It is SOOO much fun! I have a few suggestions that I thought would make this a lot more fun...
1. Well, I have factions on my server as do many others but if two people in the same faction go to fight in the Battle Night arena they can't hurt each other so if there would be some way for those two people to fight this would be SO much better!
2. Big battles are fun but 3 vs. 3 a

[2012-04-05 02:44] aarontwf commented on #21
All right.

1) I will try to override all other plugins PVP settings.
2) The recode will have multiple lives.
3) This will not be added into BattleNight-Core but I may add it into my in-progress BattleNight-Weapons addon or another developer could make an addon to do this.

Also for next time, it would be easier if these suggestions were in separate issue posts.

[2012-04-05 02:46] aarontwf commented on #18
Can you please try version 1.1.2 and inform me if its fixed?  Link: http://bit.ly/bnlatest

[2012-04-05 02:47] aarontwf commented on #16
Can you please tell me if the format I have changed to is alright?  Download: http://bit.ly/bnlatest

[2012-04-05 05:17] hiown commented on #18
I get this error when it starts to run.

00:15:45 [SEVERE] Could not load 'plugins\BattleNight.jar' in folder 'plugins'
org.bukkit.plugin.InvalidPluginException: java.lang.ClassNotFoundException: me.l
imebyte.battlenight.core.old.BattleNight
        at org.bukkit.plugin.java.JavaPluginLoader.loadPlugin(JavaPluginLoader.j
ava:150)
        at org.bukkit.plugin.SimplePluginManager.loadPlugin(SimplePl

[2012-04-09 14:57] nick331999 commented on #21
Thanks for considering my request!
Good luck on completing those things!

Sorry for not putting them in different posts I will do that next time.

P.S: does recode mean next version? xD

[2012-04-09 22:38] aarontwf commented on #21
Recode means re-writhing the whole plugin from scratch which I should have finished by the next major version (v2.0)

[2012-04-09 22:39] aarontwf commented on #18
Fixing today.

[2012-04-10 01:36] hiown opened #22 "Error when Plugin Loads up"
I get this error when ever the plugin starts up

20:33:44 [SEVERE] Could not load 'plugins\BattleNight.jar' in folder 'plugins'
org.bukkit.plugin.InvalidPluginException: java.lang.ClassNotFoundException: me.l
imebyte.battlenight.core.old.BattleNight
        at org.bukkit.plugin.java.JavaPluginLoader.loadPlugin(JavaPluginLoader.j
ava:150)
        at org.bukkit.plugin.SimplePluginManager.loadPlugin(

[2012-04-12 02:53] #22 closed, assigned to nobody

[2012-04-12 02:54] hiown opened #23 "Fighting doesn't work"
When ever I join my players can't attack each other. It doesn't say its being blocked by any plugin. It doesn't say that you are in a protected area. It just doesn't let you attack. (The PVP override may not be working?) The plugin that I think is conflicting is the Factions plugin.

[2012-04-12 04:28] Lildirt commented on #14
Choosing the arena to join.

[2012-04-14 03:35] #23 closed, assigned to nobody

[2012-04-18 15:47] ghost opened #24 "God Mode"
On my server, I have allowed certain groups access to god mode. However when they join the arena they are still godded, could you remove god mode and prevent them from turning it on whilst in a battle?

[2012-04-18 22:52] aarontwf commented on #24
I will try in the next version.  Then get back to me after to see if it worked.

[2012-04-18 23:00] aarontwf opened #25 "Waypoint Object"
The waypoints manager.

[2012-04-18 23:02] aarontwf opened #26 "Arena Object"
Create the arena class.

[2012-04-18 23:02] #18 closed, assigned to aarontwf

[2012-04-19 00:34] hiown opened #27 "Problem With the selling classes."
Okay so I have quite a large problem. At the moment I have the /sell command from essentials so that they can sell things on the go. Well in battlenight you never blocked players from using other commands so they can do the /sell command and sell the items they get and make Massive ammounts of profit. So for now I have to disable battlenight till you can have this issue fixed. Please get back to m

[2012-04-19 07:23] aarontwf commented on #27
I am going to add a command blacklist.

[2012-04-19 10:15] ghost commented on #27
Would a whitelist not be better? That way it will prevent any plugin commands from working whilst in the arena except the ones chosen.

Problem with the blacklist is that you can't take into account every single command out there.

[2012-04-19 20:54] mmenanno opened #28 "Must Clear Inventory"
Can you add an option requiring players to clear their inventory before they enter the area? Just like MobArena does. Because on my server we have a bug in which players can lose their inventories when leaving.

[2012-04-21 10:26] aarontwf commented on #28
There already is one.

[2012-04-21 10:26] #28 closed, assigned to nobody

[2012-04-21 10:27] aarontwf commented on #27
Yeah I think your right.

[2012-05-13 08:11] Veracior opened #29 "Potions Problem"
Users can drink potions before the game and switch class giving them a major advantage.

Good work tho the plugin is amazing, kinda sucked spending a few hours making a few balanced vocations then realize people where cheating with potions :P so I had to make them basic for now.

[2012-05-24 04:16] aarontwf opened #30 "Enchantments"
Posted by DrewsterX:

I know Enchantments will be hard to implement because they don't have a ID but would be nice to see them.

[2012-05-24 04:23] aarontwf opened #31 "Reload Command"
A command to reload the plugin and config.

[2012-05-24 13:08] luki210 opened #32 "Max players per team"
Possibility to fix the max. player number per team :)

[2012-05-31 23:44] aarontwf commented on #31
Added

[2012-05-31 23:44] #31 closed, assigned to aarontwf

[2012-05-31 23:44] aarontwf commented on #29
Fixed

[2012-05-31 23:44] #29 closed, assigned to aarontwf

[2012-05-31 23:45] aarontwf commented on #27
Fixed/Added

[2012-05-31 23:45] #27 closed, assigned to aarontwf

[2012-05-31 23:45] aarontwf commented on #24
Fixed

[2012-05-31 23:45] #24 closed, assigned to aarontwf

[2012-05-31 23:45] aarontwf commented on #16
Fixed

[2012-05-31 23:45] #16 closed, assigned to aarontwf

[2012-05-31 23:45] aarontwf commented on #6
Fixed

[2012-05-31 23:45] #6 closed, assigned to aarontwf

[2012-06-02 11:58] Veracior commented on #14
A random map system would be cool though. Have 5 maps for your arena and it randomly selects one for the combatants to play in.

[2012-06-02 17:21] Lildirt commented on #14
Either way.
It could be random, or it could be specific.
You could make a 'Random' portal to include both of our idea's, and make the other portals for the other arena's so people can play what they want, if they so please.

[2012-06-03 00:56] aarontwf commented on #14
It will be random with some sort of voting system (Similar to Black Ops).  Arenas will also be disable-able.

[2012-06-03 00:58] aarontwf opened #33 "Track system"
A system to use message tracks instead of strings.

[2012-06-05 19:44] XDTxD3 opened #34 "Issue with exit"
When the battle ends, the last man standing is not teleported to the exit

[2012-06-08 09:51] Garfield7 opened #35 "Download, BN for Bukkit #2155?"
Hello,
i can't visit the BukkitDev site from BattleNight.
"This project is currently under moderation. Please come back later.
If you find this to be in error, please notify the administrators."
This Error is since 2 or 3 days.

Second. i use the Bukkit version #2155
i can't update yet because essentials, ... are outdated and i need these Plugins.

Third. My Bukkitserver doesn't load the BattleNig

[2012-06-14 01:02] kanti123 opened #36 "some of my things wont work for my new class"
The title tells it , here is the yml in pastebin http://pastebin.com/xHCSNpnD

[2012-06-15 10:45] aarontwf commented on #35
The first issue has been fixed

Most plugins will work on a newer version of CraftBukkit even if they are labled as a lower version.  Plugins will only break if they are using super outdated things (which is quite unlikely) in their plugins.

Would you be able to paste any errors you get when trying version 1.2 on start-up for the third issue.

[2012-06-15 10:48] aarontwf commented on #36
Your classes.yml looks fine to me.  Could you give me more details on what doesn't work?

[2012-06-15 12:56] sitebanis opened #37 "Internal Issues?"
I just added Worldguard, CreeperHeal, MoArrows plugins. Im pretty sure these are the prob. Anyway of fixing it without having to delete these plugins? Thanks =) great plugin want it to be working

[2012-06-15 23:14] aarontwf commented on #37
Do the errors contain stuff about signchanger and preparePlayer?

[2012-06-16 01:43] #34 closed, assigned to aarontwf

[2012-06-16 08:51] sitebanis commented on #37
Nope it just states "An internal error occurred while attempting to perform this command" after I type in /bn join.

[2012-06-16 11:17] aarontwf commented on #37
Strange... I just tested it now and its working fine for me with all the same plugins.  Are you using CB 1.2.5-R4.0 and BN 1.2.1?

[2012-06-16 11:33] sitebanis commented on #37
Let me try to delete the plugin and download it again. I cant see what version I have of bn. ill be one sec. and yes im using new craftbukkit update

[2012-06-16 11:48] sitebanis commented on #37
lul it works now, and it was the update that I needed. 0.0 it was really weird why it wasnt working. =) sorry for the inconvenience

[2012-06-17 00:00] #37 closed, assigned to aarontwf

[2012-06-17 02:04] kanti123 commented on #36
ok so when I choose my class "God" that I made,it has errors on my server log,the thing is I dont get armour, or potians but bottle O'enchanting
http://pastebin.com/GM11a6L8 this is the link of my log, read from the bottem untill player command kanti123 /i ironblock 1

[2012-06-17 04:17] aarontwf commented on #36
The error say item 373:16428 does not exist which is correct.  Use [my potion list](http://bit.ly/potionlist) to find the correct ID and Data Value.

[2012-06-17 04:17] #36 closed, assigned to aarontwf

[2012-06-17 04:17] #35 closed, assigned to aarontwf

[2012-06-17 16:34] kanti123 commented on #36
no the last item on your page is 373:16428, and armour, i'will see if I take out it will it work

[2012-06-18 11:33] aarontwf commented on #36
Try getting rid of all the x<some number> on all potions.

[2012-06-19 05:36] grazingbacon opened #38 "Event broadcast"
Could you add an announce feature to the config.

Ex.

Player has join the battle arena!

The battle has begun!

[2012-06-19 22:35] kanti123 commented on #36
how about armour ( oh and i'l see if that works) is there a limit to what you can have?

[2012-06-20 04:42] aarontwf commented on #36
It worked fine for me after a few small changes:

![Custom Class](https://dl.dropbox.com/u/39528590/Plugins/BattleNight/Images/Issues/36-1.png)

Here's the classes.yml:

[code]

[2012-06-25 14:39] irjr1 opened #39 "Creating a class problem"
i created 2 classes in the classes yml and then when i went back none of the classes worked then i redownloded every thing worked fine
# BattleNight Version: 1.2.1
# Classes Configuration File
#
# Add Classes as you wish but do not use spaces in names.
# Items are i:dxa, i=Item d=data a=Ammount.  Data and ammount are optional
# Each class must have at least 2 items, use the dummyitem if you only w

[2012-06-25 15:02] irjr1 commented on #39
i found it i tabed infected

[2012-06-25 15:02] irjr1 commented on #39
simple mistake

[2012-06-26 01:22] MegaMinerJon commented on #39
I have that same problem...

[2012-06-26 04:00] #39 closed, assigned to nobody

[2012-06-30 08:56] ldrrp opened #40 "Economy support"
support for ticket costs, prizes for winners etc

[2012-07-09 04:57] matgar11 opened #41 "Battlenight Sign Bug"
I was playing with some friends. i have a multiverse server with essentials and battle night. when we finish the game and join a new game we can see our names on the signs already. i really have no idea what to do please help.

[2012-07-09 23:25] aarontwf commented on #41
Yeah, that happens sometimes.  For now just replace the signs.

[2012-07-09 23:27] #25 closed, assigned to aarontwf

[2012-07-09 23:27] #26 closed, assigned to aarontwf

[2012-07-09 23:28] aarontwf opened #42 ""Ghost" Spectators"
The new spectator system.

[2012-07-09 23:29] aarontwf opened #43 "SignListener"
The recode SignListener.

[2012-07-09 23:31] aarontwf opened #44 "ClassManager"
The manager to get classes from the classes.yml and parse it into Class objects.

[2012-07-09 23:59] matgar11 commented on #41
Ok because I fixed the blue side now only the red side does that. So I should just keep replacing the signs? When do you think that will be fixed.

[2012-07-10 09:19] aarontwf commented on #41
In the recode

[2012-07-19 06:32] #44 closed, assigned to aarontwf

[2012-07-30 04:43] aarontwf commented on #30
Proposed formatting found here: http://dev.bukkit.org/server-mods/battlenight/#c323

[2012-07-30 23:36] Scrutiny commented on #32
Would you be able to set the max players per team in the options? I am planning on doing a 100 v 100 epic battle in the distant future.

[2012-07-31 07:12] aarontwf commented on #32
It will be in the recode Config.yml file.

[2012-08-02 21:12] XxCoolGamesxX opened #45 "1.3.1-R0.1 Build #02269 - Error for PlayerInteractEvent, PlayerQuitEvent"
[code]

and

[code]

[2012-08-05 10:51] aarontwf commented on #45
Hmm, looks like something is blocking BattleNight from sending messages to players on your server.

[2012-08-05 13:59] XxCoolGamesxX commented on #45
I have the error.  I update to 1.3.1 - 2269 Build. It work in the old 1.2.5 - R5.0

[2012-08-06 04:04] aarontwf commented on #45
It will be a bug in Bukkit then or a change Bukkit has made.  I will not be updating BattleNight until a RB is out so until then either go back to 1.2.5 or wait until the RB comes out.  However if it is a CraftBukkit bug I will most likely be resolved so keep CraftBukkit updated.

[2012-08-07 08:21] XxCoolGamesxX commented on #45
Now bukkit have a Recommended Build of 1.3.1-R1.0 Build 2317

[2012-08-08 11:48] aarontwf commented on #45
Can you confirm this issue still occurs with the RB?

[2012-08-08 13:38] XxCoolGamesxX commented on #45
Yes. Work ok now in 1.3.1-R1.1 - 2325 Build

[2012-08-09 08:36] XxCoolGamesxX commented on #45
Sorry my bad. I it not test 100%. Now I test it. I have the error of the PlayerQuitEvent and PlayerInteractEvent.

[2012-08-12 06:43] ghost commented on #38
Perhaps also announce the winning team?

[2012-08-12 06:44] ghost commented on #40
The plugin could charge an entry fee, which would then be distributed to the winning team.
You could hook into Vault, so your plugin would be compatible with any economy system that uses vault.

[2012-08-12 06:45] ghost commented on #3
As mentioned on a similar issue thread, you could hook into Vault for this purpose.
Vault is used by most popular economy plugins, including iConomy.

[2012-08-12 06:48] ghost commented on #2
Not sure how necessary this is.  Many server use WorldGuard or something similar for land protection.
My main server uses WorldGuard and then additional protection is granted by claiming the area using Towny and setting PVP/itemuse to allow for that particular town.

Not that I have any issues with a plugin becoming more inclusive, and offering features like this, but it's also important to me tha

[2012-08-13 07:10] aarontwf commented on #2
I will make sure it doesn't.

[2012-08-16 00:56] aarontwf commented on #45
Ok, try this version and let me know if it fixed it: http://bit.ly/bnlatestdev

[2012-08-18 23:34] slipcor commented on #3
let me fix that:

Vault supports the most popular plugins ;)

[2012-08-18 23:48] #45 closed, assigned to aarontwf

[2012-08-24 16:57] snipernyc1 commented on #41
when i place a sign with the class name and ---------------------under the name, like in the videos i cant get the items in the class after i hit the sign.plz help

[2012-08-24 21:41] JumanjiCraft opened #46 "Leaving When Only One Player"
What Will Replicate the issue:

Leaving the arena when you're the only player that joined the arena.
/bn leave

What happens:
You are left in the lounge and you do not get your items back.

[2012-08-25 15:46] JumanjiCraft opened #47 "Armor/Weapon/Etc Duping"
When a single player joins and leaves the battle arena they are able to dupe the battlenight system and get free armor. I've had a player dupe the system to get lots of chainmail and diamond swords, diamond armor and much more.

[2012-08-26 19:52] aarontwf commented on #46
I'll have a look at this when I get my laptop back.

[2012-08-26 19:53] aarontwf commented on #47
Ok, I'll have a look at this when I get my laptop back.

[2012-08-29 21:03] cbprog opened #48 "Error when exiting player"
When one player is in the bluelounge area and writes /bn leave, the server displays a message indicating - You have left the Battle. However, the player is left in place, it is not teleported to the exit area. In addition, the player will lose all the items.
Player in bluelounge which chose battle class (tank or others) can use /spawn with battle items.
If 2 or more players - all fine.
If you type

[2012-09-02 17:19] JumanjiCraft commented on #46
I made a massive redstone door to prevent people joining the arena and picking a class unless there is a player in both the red and blue waiting rooms.

http://imgur.com/VXKAC,hkGp8,mFEId

This stops both the exploiting issue in the other post and the players losing items (as they usually ask why the door won't open)

[2012-09-07 05:49] aarontwf commented on #41
Just write the class name in the correct case on the first line and leave the rest blank e.g. "Tank" (without quotes).  The line will auto-generate.

[2012-09-07 05:54] calebbfmv opened #49 "Rollback"
Just a cool little idea, as that way I can enable TnT in my arena!

[2012-09-10 13:03] HugeBoner opened #50 "Invisible players"
I love the plugin, best PvP Arena plugin I found and its easy to setup, BUT it has some problems. First, sometimes even after the battle is finished, the names of the players on the class signes stay. Sometimes, when the battle starts some of the players including me, randomly become invisible. When a player joins the arena, before the battle starts he changes his mind and decides to leave. So he

[2012-09-16 20:56] Arcental commented on #48
I have the same problem too. When a player exits the arena (/bn exit) after choosing a class, the items that they get for the classes doesn't get removed from the player.

[2012-09-16 20:58] Arcental commented on #50
The invisible player thing might be a minecraft bug. I have that same problem with the players exiting.

[2012-09-17 20:30] aarontwf commented on #50
Invisiblity is a Minecraft or CraftBukkit bug as I get it on my server without BattleNight and BattleNight never even touches the vanish API.

[2012-09-17 21:26] aarontwf commented on #46
Try this and let me know if it is fixed: http://bit.ly/bnlatestdev

[2012-09-17 21:26] aarontwf commented on #47
Try this and let me know if it is fixed: http://bit.ly/bnlatestdev

[2012-09-17 21:26] aarontwf commented on #48
Try this and let me know if it is fixed: http://bit.ly/bnlatestdev

[2012-09-17 21:27] aarontwf commented on #50
Try this and let me know if it has fixed the not leaving bug: http://bit.ly/bnlatestdev

[2012-09-18 00:34] Arcental commented on #48
I think its working again :D TY!

Edit : If they disconnect while choosing a class then they are still in the lobby.

[2012-09-18 06:04] aarontwf commented on #48
Ok

[2012-09-18 07:55] cbprog commented on #48
Good fix.I again opened the arena for the players.
But after the battle, the winner teleported to the hall, and the loser is still in place (arena area).

[code]

[2012-09-18 08:49] Vexoid commented on #4
This is a great plugin, but all it needs is ffa. Please add it in the next update, thanks :)

[2012-09-18 11:16] JumanjiCraft commented on #47
That's fixed it. The only problem now is that with a dual creative and survival world, players that join from the creative world, when they leave the arena, or finish the arena, are TP'd back to the location of the survival world (where battlenight tells them to go after the fight or arena ends) with their entire creative inventory. In other words, players are able to join from Creative, leave the

[2012-09-18 11:16] JumanjiCraft commented on #47
No. 3 is my least favorite as we have a lot of worlds.

[2012-09-18 21:14] aarontwf commented on #47
Number one is possible at the moment by only adding the "battlenight.user" permission to the worlds you want people to be able to join in and make sure "UsePermissions" in the config is set to true.

[2012-09-18 21:15] aarontwf commented on #48
Thanks!  Now I know where to look.

[2012-09-18 21:24] JumanjiCraft commented on #47
yeah that did it thanks! everything works swimmingly

[2012-09-18 22:08] aarontwf commented on #47
Good to hear, I have just made a new dev version as an attempt to fix [this issue](https://github.com/BattleNight/BattleNight-Core/issues/48).  It can be downloaded with the same link.

[2012-09-18 22:09] aarontwf commented on #48
Ok, try this: http://bit.ly/bnlatestdev

[2012-09-18 22:09] #47 closed, assigned to aarontwf

[2012-09-18 22:10] aarontwf commented on #41
You could try this dev version: http://bit.ly/bnlatestdev

[2012-09-19 00:17] thoresh opened #51 "Group already has permissions and yet it wont let me set waypoints?"
I have added permissions (battlenight.*) to admin + owner gorups both manually and with mangaddp
And yet it will not let me set bn waypoints (do not have permission to use those commands or whatever it usually says)

If I try to add perms again (/mangaddp admin battlenight.*) it tells me that group already has those perms ... and yet they do not work?

[2012-09-19 01:47] Arcental commented on #48
If you disconnect while in the lobby (Picking classes) you will be in the lobby still after relogin

edit : You also don't get teleported after win/losing/dieing in the match

[2012-09-19 05:02] aarontwf commented on #51
Do you have the "UsePermissions" setting in config.yml set to true?

[2012-09-19 11:57] cbprog commented on #48
ok...go next :)

[code]

and

[code]

[2012-09-19 13:17] thoresh commented on #51
_Face palm_

Thanks Lime lol

[2012-09-19 23:29] XxCoolGamesxX opened #52 "Battlenight Kits Bug"
Hello.

We have a community that loves your Battlenight plugin but there is a glitch in it at this moment.  We have set kits for pvp but others for the Battlenight plugin.  People are abusing the kits by joining BN - picking a kit, logging out and then when logging back in, doing /mv spawn (which brings them back to the PVP spawn world).  It gives them the kits from BN which we don't want happenin

[2012-09-20 04:12] aarontwf commented on #52
Make sure the command blocker is on in config.yml:

[code]

[2012-09-20 04:13] #51 closed, assigned to aarontwf

[2012-09-20 17:50] LynnJordison opened #53 "Problems with waypoints and player's XP."
Hi! I've been having a couple of problems since I updated the plugin.

First, when players type /bn join, most of the times they are teleported below the waypoint, and get stucked in walls or start drowning. I've tried with different versions of the plugin as well as Bukkit versions and it still happens, although it's random and doesn't happen EVERY single time.

Second, when a battle ends, the pl

[2012-09-21 00:34] Arcental commented on #53
Try putting the way point 1 block up from the floor

[2012-09-21 00:38] Arcental commented on #52
I don't think that is going to work since if you log out, BattleNight doesn't remove the items in their inventory and they no longer count as being in the arena.

[2012-09-21 01:10] LynnJordison commented on #53
Already tried that, but it keeps stucking players on the floor below the waypoint :(

[2012-09-21 05:40] cbprog commented on #48
Man, if you have no place to test your plugin, you can do it on my server. Russian server, but I can help detect the errors for you. If anything, you can contact with me.
server 24/7.
p.s. Really nice plugin, and so bad that it has errors.

[2012-09-21 11:27] aarontwf commented on #48
Servers is not an issue, time is at the moment.  Will try fix if I have some free time this weekend.

[2012-09-21 11:30] aarontwf commented on #53
Hmm, its sort of a Bukkit teleport bug and seems to happen to me only if the arena is on a different world.  I think is is caused by the chunk not loading in time.  Ill try load the chunk first so that is ready for TPs and see if it fixes it.

[2012-09-21 16:15] LynnJordison commented on #53
In this case I have the arena on the main world, could it be that it still doesn't load in time when the players teleport to it?
I'll try changing Bukkit builds to see if it stops happening.

Thanks for the help!

[2012-09-22 21:41] Arcental commented on #48
I hope it gets fix in the next fix :)

[2012-09-23 22:59] XxCoolGamesxX commented on #52
It not help to fix the bug. Become the players can log out and have the item's of the BattleNight. So what @Arcental say is right. Can be good it the player log out of the game of battlenight sure force to remove the items of the BattleNight.

[2012-09-24 17:51] Arcental commented on #52
It used to do that but its bugged

[2012-09-24 20:08] aarontwf commented on #52
Ok, will fix when I have time.

[2012-09-25 07:48] aarontwf commented on #41
Ok, I have just finished [the new dev version](http://bit.ly/bnlatestdev) which should have fixed a whole lot of bugs.

If do however find any bugs in this version please post them here.

[2012-09-25 07:48] aarontwf commented on #46
Ok, I have just finished [the new dev version](http://bit.ly/bnlatestdev) which should have fixed a whole lot of bugs.

If do however find any bugs in this version please post them here.

[2012-09-25 07:48] aarontwf commented on #48
Ok, I have just finished [the new dev version](http://bit.ly/bnlatestdev) which should have fixed a whole lot of bugs.

If do however find any bugs in this version please post them here.

[2012-09-25 07:49] aarontwf commented on #50
Ok, I have just finished [the new dev version](http://bit.ly/bnlatestdev) which should have fixed a whole lot of bugs.

If do however find any bugs in this version please post them here.

[2012-09-25 07:49] aarontwf commented on #52
Ok, I have just finished [the new dev version](http://bit.ly/bnlatestdev) which should have fixed a whole lot of bugs.

If do however find any bugs in this version please post them here.

[2012-09-25 07:49] aarontwf commented on #53
Ok, I have just finished [the new dev version](http://bit.ly/bnlatestdev) which should have fixed a whole lot of bugs.

If do however find any bugs in this version please post them here.

[2012-09-27 03:25] Arcental commented on #48
I was testing the plugin on my friends faction server and so it looks like BattleNight is completely working. Thanks for the fix LimeByte. If I find anymore bugs I'll be sure to inform you about it.

[2012-09-27 14:53] cbprog commented on #48
Hi. Thank you, everything is fine with teleportation 0 errors.
I'm with a new request. You know that if you choose a class Tank or the other, on the label appears your name.
But there is one problem. If a player at random out of the game (disconnect), the player name on the label remains.
1) You can make the character's name was not written on the label?
2) You can make the player did not press fo

[2012-09-27 18:50] aarontwf commented on #48
Can you please post these in separate issues.  Thanks.

[2012-09-27 18:50] #48 closed, assigned to aarontwf

[2012-09-28 02:37] Arcental opened #54 "Team Color/identify"
I think having something that helps players know who is on their team while in battle. Maybe something like Wool hats or something.

[2012-09-28 21:54] aarontwf commented on #46
Fixed.

[2012-09-28 21:54] #46 closed, assigned to aarontwf

[2012-09-28 21:57] aarontwf commented on #54
I think I might wait for the dyed leather hats.

[2012-09-28 23:37] Arcental commented on #54
I see..

[2012-09-29 11:40] Tjoma commented on #30
Sorry i don't understand, How can i put enchantment on my classes ? please ^^?

[2012-09-29 11:46] aarontwf commented on #30
You cant (not yet anyway, its coming).

[2012-09-29 11:48] Tjoma commented on #30
K, Your plugin is amazing ! I really love it ! Thanks you so much to uploaded it :p The only thing missing is the enchants !

[2012-09-29 23:12] aarontwf commented on #52
Fixed.

[2012-09-29 23:12] #52 closed, assigned to aarontwf

[2012-09-29 23:13] aarontwf commented on #41
Fixed.

[2012-09-29 23:13] #41 closed, assigned to aarontwf

[2012-09-30 00:37] aarontwf commented on #53
XP has been fixed in dev version.  Will be released sometime this week.

[2012-10-01 22:59] Arcental commented on #30
Yeah! :D Enchants are coming to BN. That would be really nice to have.

[2012-10-03 20:31] aarontwf commented on #54
Don't worry I got a better way to do this for the next update :) (Secret feature).

[2012-10-03 20:33] aarontwf commented on #50
Closed as Invisibility is a Bukkit bug and the other issue is fixed.

[2012-10-03 20:33] #50 closed, assigned to aarontwf

[2012-10-04 13:24] cbprog opened #59 "Sign limits"
Remove the limit on class signs.

[2012-10-05 03:11] Arcental commented on #59
You can put more then 1 sign for a class, like 2 "Warrior" Class signs make it 4 Slots

[2012-10-05 12:06] cbprog commented on #54
It is no secret in the patch 1.4 can be paint armor in any color, as it is now wool. :)

[2012-10-05 12:10] cbprog commented on #59
No matter how much, say 20, but on the plate fits 2 - it's not comfortable, it's easier to disable it.

[2012-10-06 08:02] aarontwf commented on #59
Its more than just disabling something, I have to store the players and signs separately so this will not be looked at before the next update.

[2012-10-06 08:04] aarontwf commented on #54
Haha, but it is as it is not armour or wool blocks ;)

[2012-10-07 00:46] Arcental commented on #54
another guess is capes?

[2012-10-07 00:48] Arcental commented on #59
Maybe you could put a function where you can link a class sign to a empty sign making it 6 slots :)

[2012-10-07 01:03] aarontwf commented on #54
Nope, not possible without Spout/Spoutcraft

[2012-10-07 01:04] aarontwf commented on #59
Mm, id rather do a proper solution than a hacky fix.

[2012-10-07 07:49] Xarias09 opened #60 "PlayerRespawnEvent + newest source"
Hi!,

I download newest source BattleNight-Core and compile it and run at my server ;) and receive after few minutes this error:

Bukkit: #2380
TagAPI: 1.7

Here is pastebin:
http://pastebin.com/tBXBZbpA

@Edit
Know issue... when i fight at arena and DIE plugin don't teleport me to spectator area but to spawn..

@Edit-2
I repair by yourself but.. i think i must let you know about it ;p

[2012-10-07 14:59] Xarias09 opened #61 "Automatic start"
Hi!,

This is looking nice..this your plugin but can you add AUTOMATIC start arena after (configurable?) 1 minute when players dont click the iron block.

Because your plugin dont have limits at teams so... this is will be better method.

[2012-10-07 21:16] aarontwf commented on #60
Versions on here a very unstable at times so grab a stablish version from here instead http://bit.ly/bnlatestdev

[2012-10-08 02:18] Arcental commented on #54
Limebyte Magic is another guess.

[2012-10-08 02:19] Arcental commented on #59
Okay good luck with it

[2012-10-08 11:17] buildme opened #62 "possiblity to make more arena"
it s possible to make the possibility to create more 1 arena

it s very good plugin just i can make just 1 arena

[2012-10-08 13:16] Xarias09 commented on #60
http://pastebin.com/7mvsiDuL

:P "catch exception" ?? :3 at this version you probably dont add this ;p

[2012-10-09 10:13] aarontwf commented on #62
Duplicate, see issue #14

[2012-10-09 10:13] #62 closed, assigned to aarontwf

[2012-10-09 10:15] aarontwf commented on #60
Sorry, I need to find some time to have a decent look at BattleNight.  There's a few mysterious bugs.

[2012-10-10 00:48] Veracior opened #63 "Class Permissions"
Hey LimeByte,
Just an idea for another feature you could add to this plugin :P. It would be interesting to see a system where we can add permission group's to classes. This would be incredibly useful in allowing people to better balance classes by integrating other plugins like 'EventEffects', 'Compass Tracker', etc.

Love this plugin it is amazing ^.^ .
Thanks again,
Drew

[2012-10-13 03:15] wrecktify opened #64 "Players use item from a class then switch to another before arena starts"
So I don't know if this is preventable, but I find it to be a big flaw in the classes.  I just use the default classes and people have been loading the magician class and eating the golden apple then switching to archer and starting the match.  This gives them a huge unfair advantage.  If there is a way to strip all potion effects when the arena officially starts to prevent abuse I think it would

[2012-10-14 00:57] aarontwf commented on #64
Strange, I thought I fixed that!  Ill test it tonight to see if it still exists.

[2012-10-21 10:36] #60 closed, assigned to aarontwf

[2012-10-21 21:10] aarontwf commented on #59
##### Proposed system:
- Names will be able to extend past the sign
  - They will have a limit defined in the config
  - The limit can be set to 0 to remove the limit

[2012-10-21 21:14] aarontwf commented on #12
##### Proposed system:
- Battles will have a death and time limit
  - Whatever limit reaches its max first will end the Battle
  - Both limits will be configurable

[2012-10-23 02:09] Arcental commented on #59
I think the limit should be in the classes file instead so some classes can be limited

[2012-10-23 02:39] aarontwf commented on #59
Do you mean individual limits for each class?

[2012-10-24 04:08] cbprog commented on #59
It's certainly better than nothing. As an option - reset the time, such as a timer = 5 minutes.

[2012-10-28 14:12] ghost opened #66 "bn join not working"
i have a installation and every command works apart from one of the most crucial:
BN JOIN

Client:an internal server error occured when performing this command
server:14:09:25 [SEVERE] null
org.bukkit.command.CommandException: Unhandled exception executing command 'bn' in plugin BattleNight v1.2.7
    at org.bukkit.command.PluginCommand.execute(PluginCommand.java:46)
    at org.bukkit.command.Simp

[2012-10-28 18:12] ghost commented on #66
Re-installed
Now I can't pick class

[2012-10-29 05:37] aarontwf commented on #66
How are you picking classes?

[2012-10-29 08:45] #43 closed, assigned to aarontwf

[2012-10-29 08:45] #19 closed, assigned to aarontwf

[2012-10-29 08:45] #20 closed, assigned to aarontwf

[2012-10-29 20:43] ghost commented on #66
By punching them
anyway it works now but when i try to add classes 'Ninja' and 'samurai'
and bn reload it says reload failed
p.s.when are leaderboards on signs like ma coming?

[2012-10-30 02:52] aarontwf commented on #66
What BattleNight version are you using and can I see your classes.yml file?

[2012-10-30 02:52] #64 closed, assigned to aarontwf

[2012-10-30 20:57] ghost commented on #66
BattleNight version: 1.2.1

classes.yml:

[code]

[2012-10-31 04:07] aarontwf commented on #66
Firstly [upgrade to 1.4.0](http://dev.bukkit.org/server-mods/battlenight/files/17-battle-night-v1-4-0/).  The file you posed looks fine but add in the classes you want to the file and I'll check it for you.

[2012-10-31 15:58] ghost commented on #66
soz i thought it was in there
upgrading now here is classes.yml:http://pastebin.com/0u43PmXb

[2012-11-01 03:14] aarontwf commented on #66
Found the issue.  There is an extra space here as well as some missing spaces after the colon:

[code]

Here's a fixed version of your file:

[code]

[2012-11-01 03:14] #66 closed, assigned to aarontwf

[2012-11-01 04:20] #54 closed, assigned to aarontwf

[2012-11-01 15:42] geekyhamster commented on #66
hi on different account now!
i can pick class and the name goes on the sign but i don't get my items!

[2012-11-01 17:04] geekyhamster opened #67 "Classes problem"
hi on different account now!
thanks for the fixed classes.yml but now...
i can pick class and the name goes on the sign but i don't get my items!

[2012-11-02 03:33] aarontwf commented on #67
A common issue is the classes don't get loaded properly.  Try a <code>/bn reload</code>.

[2012-11-03 01:03] cbprog commented on #59
Players still can not be removed from the plates. More than 2 players in one class can not be selected.
1.4.0 - craftbukkit 1.3.2 rev.3

[2012-11-03 01:18] cbprog opened #68 "Unable to fly"
Noticed 1 bug after a plug-in 1.4. When the administrator (op) with option /gamemode 1, enters on the arena (/bn join), then leaves from it (/bn leave), it can't fly any more (the rest can do all). After commands /gamemode 0, / gamemode 1, everything is normal.

[2012-11-03 01:23] cbprog opened #69 "AFK"
If a player enters the arena. he can not enter into AFK. The would be useful to throw it.

[2012-11-03 02:11] aarontwf commented on #69
As being AFK is plugin specific and there is no real need for someone to be AFK in Battle, I probably won't fix this.

[2012-11-03 16:19] cbprog commented on #69
Player can stand in a lobby very long. And if there was Afk, autokick. It is simply next idea, the offer. :)

[2012-11-03 18:51] geekyhamster commented on #67
Done
still broken

[2012-11-03 23:13] aarontwf commented on #67
Any error messages in the console?

[2012-11-03 23:15] aarontwf commented on #69
I'm guessing AFK is activated by a command?  If it is, add it to the command whitelist.

[2012-11-04 02:18] cbprog commented on #69
I'm not good with the correct English. I offer the following. If a player enters the AFK, which is not available in the lobby or PvP area, it should be kick out of the the arena.
AFK performed automatically after 5 minutes.

[2012-11-04 07:21] aarontwf commented on #69
Ok, I think the best way to do this is for me to add an AFK feature into BattleNight.

[2012-11-04 14:58] geekyhamster commented on #67
2 errors
one when i bn reload
one when i pick class
both are at http://pastebin.com/R9cF69Ph

[2012-11-05 01:35] Arcental commented on #69
Or a feature that would give them a random class if they afk in the lobby?

[2012-11-05 03:43] aarontwf commented on #67
There is an error in your classes.yml file.  Post the text it in `<code></code>` tags here and ill fix it for you.

[2012-11-05 08:17] #53 closed, assigned to aarontwf

[2012-11-05 08:18] aarontwf commented on #69
Sounds good @Arcental

[2012-11-05 08:19] aarontwf commented on #69
This then duplicates issue #61

[2012-11-05 16:01] wmenke opened #70 "Signs resetting..."
For some reason, after setting the arena up and testing it with another person, upon typing /bn leave, the signs in the blue/red lobby reset and there's no longer anything on the signs. even with a reload and signing out/in, it doesn't fix it. Help?

[2012-11-05 16:32] cbprog commented on #59
I do not know whether it is possible here to spread links with screenshots, but here one well show the current problem.
http://cb.16mb.com/temp/bug.png

[2012-11-05 19:06] geekyhamster commented on #67
[code]

[2012-11-06 02:48] aarontwf commented on #67
That file seems fine.  Try <code>/reload</code>.

[2012-11-06 02:49] aarontwf commented on #70
Are the signs fully clearing or just the 3rd and 4th lines?

[2012-11-06 02:52] aarontwf commented on #59
I see...  Will start working on a fix.  Tip: hit <code>M</code> for the markdown cheat sheet.

[2012-11-06 03:10] wmenke commented on #70
all of them reset, except for one, and each team has 7 classes (defaults) the entire signs just go blank and don't function any longer.

[2012-11-06 03:10] wmenke commented on #70
i'm running 1.4.2

[2012-11-06 04:05] aarontwf commented on #70
It could be [this Minecraft bug](https://mojang.atlassian.net/browse/MC-125), a Bukkit bug or BattleNight.  But as it hasn't been happening for me I am guessing its one of the first two.  I am working on a new version which changes signs completely and will hopefully stop any clearing or non-clearing bugs.

[2012-11-06 12:05] cbprog commented on #69
hmm... Don't need give to random class, because it may be that the other players will have to wait a AFK players in lobby and unable to start a fight. Need autokick the player from (lobby / pvp arena) if player afk.

[2012-11-06 15:36] geekyhamster commented on #67
ok

On Tue, Nov 6, 2012 at 2:48 AM, LimeByte notifications@github.com wrote:

##

## .                       .

baby whale
.                  .

---

whale

:)

[2012-11-06 15:48] geekyhamster commented on #67
thanks is fixed now!

On Tue, Nov 6, 2012 at 3:36 PM, Oscar Shrimpton <
developershrimpton@gmail.com> wrote:

##

## .                       .

baby whale
.                  .

---

whale

:)

[2012-11-06 18:03] Realmlist commented on #70
I'm having the same problem.
The signs reset after each battle, /reload and server restart.

(MC 1.4.2 // Bukkit 1.4.2 BETA R-2.0)

[2012-11-06 18:44] aarontwf commented on #70
Just replied on BukkitDev :smiley:.

[2012-11-06 18:45] aarontwf commented on #69
True.

[2012-11-06 18:46] Realmlist commented on #70
Aight, thank you!

[2012-11-06 20:38] Realmlist opened #71 "Can't submit offline player!"
So, I just finished playing with some people BN. And when we disconnected, I got this.

![Error Screenshot](http://i.imgur.com/BnegY.png)

[2012-11-07 03:37] aarontwf commented on #71
+1 for Windows Server 2012 :smile:

[2012-11-07 12:29] Realmlist commented on #71
Heehee. :smiley:

[2012-11-08 10:25] aarontwf commented on #59
Give this version a try and tell me what you think.  http://bit.ly/bnlatestdev

[2012-11-08 10:25] aarontwf commented on #71
Try this and tell me if it's fixed.  http://bit.ly/bnlatestdev

[2012-11-08 10:25] aarontwf commented on #70
Give this version a try.  http://bit.ly/bnlatestdev

[2012-11-08 10:26] aarontwf commented on #68
Give this version a try and see if it's fixed  http://bit.ly/bnlatestdev

[2012-11-08 10:27] aarontwf commented on #30
Give this version a try and tell me what you think.  http://bit.ly/bnlatestdev

[2012-11-08 15:44] Realmlist commented on #70
Signs are working like a charm, a.k.a: Fixed.

[2012-11-08 15:45] Realmlist commented on #71
Fixed.

[2012-11-08 15:45] #71 closed, assigned to aarontwf

[2012-11-08 17:31] Realmlist opened #72 "Last dying player isn't teleporting to the exit."
When the battle is over, the last person killed is teleported to his bed, or spawnpoint, instead of the exit.

[2012-11-09 02:44] aarontwf commented on #72
What version? Any errors?

[2012-11-09 03:29] Realmlist commented on #72
Sorry, No errors, and the Dev-version you gave. (BN 1.4.5)

[2012-11-11 01:22] #67 closed, assigned to aarontwf

[2012-11-11 19:21] svenwbusch opened #73 "Signs doesn't work"
Howdy,

i've installed BN and it works just very fine. But i get no items when i klick on the class-signs. Is this a known problem, or do you have any idea what i could check?

Greetings,
Sven

P.s.: Good Work!!!

[2012-11-11 19:31] Realmlist commented on #73
The signs, do they have the correct class names on them? (Case sensitive)

[2012-11-11 20:37] aarontwf commented on #73
Also have you joined the Battle?  Are there any console errors?

[2012-11-12 02:31] cbprog commented on #68
Ok, this problem solved. But I do not understand humor about it. Why player now without armor and with the trees? :)
http://cb.16mb.com/temp/humor_battlenight.png

[2012-11-12 02:49] aarontwf commented on #68
Haha, its the new <code>Classes.yml</code> system.  The id <code>6</code>  was used as a "spacer" in the old system.  I have removed this spacer and changed it to the keyword <code>none</code>.  You can either delete your current <code>Classes.yml</code> file or fix your current one.  More details on this are on the [new wiki page](https://github.com/BattleNight/BattleNight-Core/wiki/Configuration

[2012-11-12 06:29] cbprog commented on #68
Well, I removed the 3 files (class, config, metric).
This is intentional, so that everyone can customize yourself?
Swordsman:
         Armour: none, none, none, none
         Items: 276e (16 ~ 1)
or did you do it because you think that the swordsman should be without armor? But the archer with a bow enchanted with knockback.
I use only 5 classes (tank, swordsman, archer, magician, medic).
But of c

[2012-11-12 09:27] aarontwf commented on #68
Yeah, it is a bit off-topic but...  The swordsman seemed to overpowered so I removed the armour.

[2012-11-15 21:03] #30 closed, assigned to aarontwf

[2012-11-15 21:03] #59 closed, assigned to aarontwf

[2012-11-15 21:03] #68 closed, assigned to aarontwf

[2012-11-15 21:03] #70 closed, assigned to aarontwf

[2012-11-18 19:31] #72 closed, assigned to aarontwf

[2012-11-19 10:53] cbprog opened #74 "Player not found"
Hi LimeByte
Honestly do not know Batllenight it or not, but in the past this was not.
When a player is in the lobby, he is issued a prefix [BN], and color. If he loses are connected to the server, for some reason he remains in the list of players, it can be seen through the Tab, but on the server it is not (Prefix [BN] disappears.). Noticed it yesterday.
I have not set yet complete 1.4.7. Maybe it

[2012-11-20 01:50] JumanjiCraft opened #75 "Cannot Load Error (Player.dat)"
This error doesn't happen all the time and it only seems to happen after the server has been running for about an hour.

http://pastie.org/5404049

Restarting the server fixes it but inevitably the error creeps back up. There's no indication of what's causing the error to occur.

[2012-11-20 02:17] aarontwf commented on #74
This could be a Bukkit bug.

[2012-11-23 05:56] McF4rtson opened #76 "Cannot tp to lounges"
Any players who aren't opped cannot teleport to the lounge.

When /bn join is typed, the non-opped plaers can join a team, but are never moved to the lounges. I checked all of the permissions for Battlenight, and they were fine.

I suspect it is a permissions problem.

Other permission plugins I use are: PermissionsBukkit, as well as the default permissions.yml

Here are the perms:

PermissionsBuk

[2012-11-23 11:22] Realmlist commented on #76
Do you have <code>UsePermissions: false</code> set to <code>true</code> in your config.yml file?
It's in <code>plugins/BattleNight</code>.

Be sure to read about the [Permissions](https://github.com/BattleNight/BattleNight-Core/wiki/Commands) and the quick configuration [guide](https://github.com/BattleNight/BattleNight-Core/wiki/Configuration).

[2012-11-25 00:18] GamersCorp opened #77 "Individual Permission Nodes"
If possible, can individual permission nodes be implemented for /bn join, /bn leave, etc?

[2012-11-25 00:29] Realmlist commented on #77
I can't see sense in that. Why would you disallow someone to leave a battleground?

[2012-11-25 00:35] GamersCorp commented on #77
Well, the issue I'm having is that if people warp from my creative world via /bn join, into the arena, which is in my survival world, once they leave they keep their creative inventory. Obviously, this leads to huge amounts of diamond blocks being "stolen"

[2012-11-25 03:23] Realmlist commented on #77
Then I think it would be better if LimeByte looks into the teleportation part of the plug-in.

[2012-11-25 03:57] aarontwf commented on #77
Why don't you just remove the <code>battlenight.user</code> permission from the creative world?  In the future there will be no more exit waypoint which should fix this issue.

[2012-11-25 03:59] GamersCorp commented on #77
How would I remove the permission from only the creative world? I'm using PermissionsEx

[2012-11-25 07:18] Realmlist commented on #77
You should be able to find it [here](https://github.com/PEXPlugins/PermissionsEx/wiki/Advanced-permissions-setup#wiki-pex-multiworld).

[2012-11-25 07:30] GamersCorp commented on #77
I fixed the issue I was having with inventories staying the same when switching from creative worlds to arenas. I fixed it by moving the arena to its own separate world. Thanks for the help though!

[2012-11-25 07:30] #77 closed, assigned to aarontwf

[2012-11-26 14:24] Jahb opened #78 "Multiple Arenas, ideas on gametypes and some other suggestions"
Here is my idea on how theses features can be implemented in the plugin,
When a player(s) first join BattleNight they are teleported into their Team Decision Room (Or name it something else just an idea),
There They Will Find 2 walls with 2 different sets of signs,

One for the Arena where players vote on which map they should play on, the map with the most votes win the draw (If its a tie maybe a

[2012-11-27 05:38] Realmlist commented on #78
Looks fun!

[2012-11-27 13:38] Jahb commented on #78
Ya if all this was implemented  Battle Night will be bukkits No.1 automated pvp plugin. :D

[2012-11-29 16:16] mheiden commented on #75
Same error occured on my server

"[SEVERE] Cannot load /home/minecraft/plugins/BattleNight/.PluginData/Players.dat"
http://pastebin.com/52PFqbC0

[2012-12-06 06:50] domjackson15 opened #79 "Players losing their previous inventory"
Some of the players have had their previous inventory cleared when they picked a class, then when the battle ended, their inventory was not there.

[2012-12-06 06:53] domjackson15 opened #80 "1.4.5"
Don't skip straight to 1.5.0?

At least have this one so servers that have not updated can use it correctly.

[2012-12-06 11:23] Realmlist commented on #80
May I ask why you make two separate issues for the same remark?
Also, BN works perfectly with any recent bukkit server.

[2012-12-06 20:54] aarontwf commented on #80
Closing as this is invalid.

[2012-12-06 20:54] #80 closed, assigned to nobody

[2012-12-06 21:04] aarontwf commented on #79
This has nothing to do with Minecraft versions as they do not affect plugins, its the Bukkit versions which do on the very rare occasion.  The issue you are having is either caused by a bug in BattleNight, a conflict with another plugin or both.

Would you be able to do some troubleshooting on when they lose there inventory and under what circumstances.  Also can you pleas provide your CraftBukkit

[2012-12-08 04:33] wrecktify commented on #79
Having the same issue.  Can not find any consistency on when a player loses their inventory or why.

Latest version of battle night.

This server is running CraftBukkit version git-Bukkit-1.4.5-R0.2-11-g54ef53e-b2502jnks (MC: 1.4.5) (Implementing API version 1.4.5-R0.3-SNAPSHOT)

Plugins (38): WorldEdit, TagAPI, ColoredSigns, BattleNight, LogBlockQuestioner, Vault, PermissionsEx, PlayerHeads, Mult

[2012-12-08 04:59] wrecktify commented on #79
One thing I noticed is it still has the [BN] tag on the names of players who lose items when the arena ends.  The tag never goes away.

[2012-12-08 05:07] wrecktify commented on #79
Pretty much every player is getting stuck with [BN] on their name when pressing TAB.  I set down some TNT with the pyro class in game and they didnt disappear when the round ended.

[2012-12-13 22:49] jemajema commented on #79
All players lose their inventory, if the battle was over suicide of one of the players.
After the match, they still have inventory for the selected class.

[2012-12-14 07:59] yodabud opened #81 "Signs won't reload after battle."
The names of players won't leave the signs when I use the /bn reload command. As a result, some of the classes can not be used because they are still "full".
Everything else work perfectly.

BattleNight v 1.2.1
CraftBukkit v 1.4.5

[2012-12-14 21:17] #81 closed, assigned to nobody

[2012-12-24 06:22] aarontwf commented on #79
Fixed in 1.4.9.

[2012-12-24 06:22] #79 closed, assigned to aarontwf

[2012-12-24 06:22] aarontwf commented on #75
Fixed in 1.4.9.

[2012-12-24 06:22] #75 closed, assigned to aarontwf

[2012-12-24 06:22] #73 closed, assigned to aarontwf

[2012-12-29 00:53] aarontwf commented on #74
Fixed.

[2012-12-29 00:53] #74 closed, assigned to aarontwf

[2012-12-29 00:54] #76 closed, assigned to aarontwf

[2012-12-30 01:29] #33 closed, assigned to aarontwf

[2012-12-30 10:54] #42 closed, assigned to aarontwf

[2012-12-30 12:09] gameplayerhd commented on #61
I agree!

[2013-01-05 14:32] bejonwe opened #82 "Separated Chat"
Can you add support for seperated chats? Team blue should only chat with team blue and team red only with team red!

[2013-01-23 06:45] rossmcnulty commented on #63
I haven't looked into the system completely yet, but I am well-acquainted with Towny and its associated townyperms options; these allow players with different Towny "ranks" to have different permissions, so I'll try and look into porting it to BattleNight in the near(ish) future.

[2013-01-25 08:13] aarontwf commented on #63
I think I will add this now.  :smile:

[2013-01-25 08:15] rossmcnulty commented on #63
That works too :D

[2013-02-17 07:47] #4 closed, assigned to aarontwf

[2013-02-17 07:47] #14 closed, assigned to aarontwf

[2013-03-06 01:42] rossmcnulty opened #83 "Simple Compatibility with Citizens Plugin"
In instances where the SafeTeleporter instance is called, sometimes both players on my server and the NPCs named after them teleport with them. As this is a commonly used plugin, it'd be great to be able to have this be compatible.

Here's the simple fix:

In the safeTp method here:
https://github.com/BattleNight/BattleNight-Core/blob/master/src/main/java/me/limebyte/battlenight/core/util/SafeTele

[2013-03-06 01:42] rossmcnulty commented on #83
Slight correction, as entity isn't a variable here you'd just have to call that from the Player entity.

[2013-03-06 03:55] aarontwf commented on #83
Are players getting left behind or are they both teleporting all the time?  The entity must be a player to go through that method otherwise it would throw a ClassCastExeption.  What plugin do you use for the NPC's?

[2013-03-06 05:33] rossmcnulty commented on #83
While not occurring all of the time, both the player and their NPC have gone together to the same location. This has occurred with /bn join, /bn leave, and when the battle begins and players go to the spawn point. I use the Citizens2 NPC plugin, and in cases where NPC names match player names Bukkit has been known to mistakenly believe such NPCs are players (this isn't the first plugin to have suc

[2013-03-06 10:08] aarontwf commented on #83
Hmmm, if they are mistaken to be a player how can you tell if they are or not?

[2013-03-07 01:00] rossmcnulty commented on #83
Every NPC is created with the metadata "NPC", which can be accessed through Bukkit with the code listed above. All you'd need to do is check for that metadata each time the teleport method is called, and if it's an NPC just return. That way it won't affect anyone not using the Citizens2 plugin, require any significant dependency changes, nor affect performance.

[2013-03-07 11:17] #83 closed, assigned to aarontwf

[2013-03-10 06:10] rossmcnulty opened #84 "Additional API"
I'm currently working on integrating BattleNight with a plugin of mine, and I've noticed some information that might be useful to provide in the API in addition to what's already there (and it's possible that some of this might already be available and just be user error).

These are as follows:
- [x] Checking the team a player is on
- [x] Checking not just if a player is in a battle, but whether

[2013-03-10 07:25] aarontwf commented on #84
The API is not quite finished yet but those will be/are possible.

[2013-03-10 07:26] aarontwf commented on #32
Added in v1.6.0

[2013-03-10 07:26] #32 closed, assigned to aarontwf

[2013-03-10 07:26] aarontwf commented on #12
Added in v1.6.0

[2013-03-10 07:26] #12 closed, assigned to aarontwf

[2013-03-21 03:13] 100Kay opened #85 "Sometimes not spawning back into arena."
I've just started using this on my server, btw its a hit to all the members, and sometimes people get spawned at the server spawn. I just wanted to point that out and see maybe why this happens? I've found a way around it though. If you kill yourself, while still in battle night but not in the arena, it will spawn you there after a few suicides.

[2013-03-21 03:21] 100Kay opened #86 "1.6 Spectator System"
I think its a great idea but it is a huge problem for people who use bows. If you are being "Ghosted" every arrow you shot will bounce off of the spectator and be rendered useless. Is there anyway to maybe take away their physical entity? Or make it so objects pass through them instead of them just being invisible?

[2013-03-21 04:58] aarontwf commented on #86
No there isn't.  However I could offset them a little but then shooting people from behind doesn't work.

[2013-03-21 04:59] aarontwf commented on #85
Could be a lag issue.  I'll have a look into it.

[2013-03-22 20:46] 100Kay opened #87 "New permissions"
Could there be any way you could add the permission for someone to be a certain class in a bn arena?
Ex) battlenight.pick.%class%
Something along those lines maybe? (Sorry thats probably wrong).

[2013-03-22 21:01] aarontwf commented on #87
There already is!  Simply add a negative permission "battlenight.class.<class name>" to the user/group you don't want using that class.

Depending on what permissions plugin you are using it would look like one of the following:

[code]

[code]

[code]

[2013-03-22 21:02] #87 closed, assigned to aarontwf

[2013-03-23 01:12] 100Kay opened #88 "Automatic start"
Sorry I am writing so much! Lol.
But this is just a suggestion. Could there be an added option where battlenight automatically starts after a set amount of time once the min amount of players have been reached? Sometimes players are stupid (or just trolling) and do not want to hit the ready sign for FFA. This would be great for servers to prevent BN not starting due to an afk player or troll.

[2013-03-23 02:10] aarontwf commented on #88
I might do a countdown for one or two minutes because you normally wait a bit for other players to join.  Anyone without a class will be given a random one.

[2013-03-23 02:29] Pancakebang opened #89 "Suggestions for Battlenight"
I have a large community for my server, and we use battle night as our only mini game. My members adore it! My staff has decided we want to expand and make a battle night server, since its new and refreshing and we could be the first people with something nice! Is there a way multiple arenas can be playing at the same time? Also, if there could be a wall with signs - so that other people may join

[2013-03-23 07:40] aarontwf commented on #89
I might start working on a dedicated mode.  So do you want multiple battles running at the same time or one big one like survival games?

[2013-03-23 11:50] GamersCorp opened #90 "No Team Balancing"
Hi there,

I'm using the latest version of Battlenight, 1.6, and whenever people join, the teams are 4v1, or 4v2. The teams are never equal. No idea why this happens, just thought I should report it.

[2013-03-23 11:54] GamersCorp opened #91 "NoCheatPlus finds the "round finished" tp to be "survival flying""
Hi there,

I'm using the latest build of Battlenight, 1.6. Whenever a round ends, the players are automatically tp'd out of the arena, or are supposed to, anyways. However, NoCheatPlus finds this tp as "survivalfly", with very high violation levels, and all my players are autokicked from the server due to that. I'm not sure if I should be posting this here, or at NoCheatPlus's github, but I though

[2013-03-23 14:06] Pancakebang commented on #89
Multiple arenas running at the same time. Also, if there could be a lobby for incoming players to choose an arena that is open whenever an arena ends. And also, if it could broadcast the winner to the server.

[2013-03-23 14:08] Pancakebang commented on #91
I have the same problem! Thanks for mentioning it.

[2013-03-24 05:17] Pancakebang commented on #89
Actually I would't mind having several servers with battlenight all on it. That restarts each time after a game.

[2013-03-28 18:10] alexrs98 opened #92 "More power of enchantments"
Hi, could you add that you can enchant more than the limit objects, ie knockback for example, the maximum is 2 but you could add that there was a maximum and that can put 5 or more level knockback.
This is already possible with mcedit and plugin "Mobarena" already includes this option.
a greeting

[2013-03-28 18:18] alexrs98 opened #93 "Potions that can be grouped"
You could add that potions can be grouped together and not have to put them one on one in the inventory, it is very annoying especially since Magician splash potions you should grab another and that this would be more comfortable grouped into 64 for best vey

[2013-04-01 07:52] aarontwf commented on #93
I added this recently in 5f3108f54038344f634b3fc4f82662d5fe5948f8.  Closing.

[2013-04-01 07:52] #93 closed, assigned to aarontwf

[2013-04-01 20:52] alexrs98 opened #94 "Text archive"
You could put a text file where they are messages that say for chat, so you can switch to other languages ​​and customize.
greetings

[2013-04-01 21:12] aarontwf commented on #94
I am working towards it.  First I have to turn all the strings into messages then I will transfer them to a messages.yml file.

[2013-04-05 18:50] alexrs98 opened #95 "Scoreboards 1.5"
Could do scoreboards during battle using the new 1.5, which you put 1 point when you kill someone and you remove 1 point when you kill, may also have a countdown.
It would be something I've seen in a server:
http://imageshack.us/photo/my-images/11/20130405204848.png/
greetings

[2013-04-06 06:09] aarontwf commented on #95
I have been wanting to do this since it was added to Minecraft.  However the API was only added to Bukkit yesterday.

[2013-04-09 23:55] ghost opened #96 "/bn join Internal Error"
So I set 3 spawn points, the lobby and the exit, made all the class signs in the lobby (except pyro) and when i typed /bn join it said something along the lines of "internal error". This is what the console read:

[code]

Caused by: java.lang.NoClassDefFoundError: org/kitteh/tag/TagAPI
    at me.limebyte.battlenight.core.hooks.Nameplates.refresh(Nameplates.java:75)
    at me.limebyte.battlenight.a

[2013-04-10 04:48] aarontwf commented on #96
Update TagAPI http://dev.bukkit.org/server-mods/tag/

[2013-04-10 04:48] #96 closed, assigned to aarontwf

[2013-04-10 05:27] Random5014 opened #97 "Suggestions Fron Random5014"
Some ideas i had are:
1. TDM Team amount selection. So basically i was thinking put a max of fore teams for TDM and you can choose how many teams are in an arena.
2. Make each arena have its own settings. Like have all the settings saved in a .txt file per a arena.
3. Allow for an option to make it possible to broadcast when a player has joined an arena.
4. Custom messages with color.
5. Allow ren

[2013-04-11 03:51] aarontwf commented on #97
1. Sounds good
2. They do.  There stored in <code>plugins/BattleNight/.PluginData/Arenas.dat</code> although I would suggest using the commands to change the values.
3. Yep
4. Being worked on
5. Possibly
6. Already there
7. See 6

[2013-04-11 05:39] Random5014 commented on #97
My arenas.dat file did not generate in the folder and help.

On Apr 10, 2013, at 8:51 PM, LimeByte notifications@github.com wrote:

[2013-04-11 11:09] aarontwf commented on #97
It is there.  Linux hides any folders starting with a <code>.</code>.  Try showing hidden files or navigating to it.

[2013-04-11 14:25] Random5014 commented on #97
I see the PluginData folder on Mac it does not have a . But the Arenas .dat is not there.

On Apr 11, 2013, at 4:09 AM, LimeByte notifications@github.com wrote:

[2013-04-13 11:27] alexrs98 opened #98 "Special Items"
You could add special items to the arena, for example, if you put bones in the class, the sand started bones become we tame wolves to attack the enemy, TNT also if you click on and launches the exploit to harm nearby players and not damage blocks.
Also dust blaze could "throw" as the fireballs thrown by blazes.
There could also be an option in classes for which there is an infinite potion, ie such

[2013-04-14 21:02] aarontwf commented on #92
Will be in the next release.

[2013-04-14 21:02] #92 closed, assigned to aarontwf

[2013-04-15 03:59] aarontwf commented on #97
Try creating an arena

[2013-04-15 07:46] #95 closed, assigned to aarontwf

[2013-04-15 07:46] #84 closed, assigned to aarontwf

[2013-04-15 07:47] #15 closed, assigned to aarontwf

[2013-04-18 12:11] aarontwf commented on #84
The API can be downloaded/added as a repo from https://github.com/BattleNight/BattleNight-API/tree/repo
There isn't too much documentation but the Javadocs are at http://battlenight.github.io/BattleNight-API/apidocs/
Example use can be found at https://github.com/BattleNight/DeathStrike

[2013-04-19 00:06] EmmettM opened #99 "Internal error occurred?"
when i type /bn join it says internal error occurred. I have two lounges set up and two spawns and an exit, what do i do?

[2013-04-19 15:33] aarontwf commented on #99
What version of BattleNight and CraftBukkit are you using?

[2013-04-22 15:21] SaintStrelok commented on #99
I'm having the same problem, I'm using BattleNight v1.7.0 with CraftBukkit 1.5.1-R0.2

[2013-04-29 21:44] Fireant456 opened #100 "will not work at all"
I have both the updated bukkit and plugin and all I get back when entering a command is to do the help command which I do but it gives me the same message
![2013-04-29_16 44 17](https://f.cloud.github.com/assets/1479965/441300/feec77e2-b115-11e2-9a55-912e0f615cc2.png)

[2013-04-29 21:54] Fireant456 commented on #100
here is my plugin list
-AutoBroadcast
-Authme
-BattleNight
-ChestShop
-Citizens
-ColoredSigns
-CraftBook
-DrugMeUp
-Essentials
-EssentialsGeoIP
-GAListener
-LWC
-Lift
-PermissionsEX
-Sentry
-ServerSigns
-SimpleRegionMarket
-SimpleSpleef
-TagAPI
-Vault
-Votifier
-TheWallsMinigame
-WorldEdit
-WorldGuard
-XCraftGate
-BanHammer
-dtlTraders
-iConomy
-mcMMO

[2013-05-19 02:28] aarontwf commented on #100
What version of CraftBukkit are you using?

[2013-05-19 19:49] alexrs98 opened #101 "Force Start"
Could you add a command to initiate sand moderator as / bn start
Sometimes crowded and not play and kick them does not work because they do not know who is.
A greeting

[2013-05-23 05:55] foller opened #102 "big problems"
hi guys, I'm brazilian, my english is bad.
well, I put on my server battlenight followed all the steps, but I can not set the spawn for the red team and blue team. (/bn Bluelounge  / bn Set Bluelounge), good whenever I try from the command does not exist.
also, only quite put 1 lounge,/bn set lounge
  And this bad whik organized! I'm 12 hours trying to make this work and pluguin not work right!

[2013-05-23 10:37] aarontwf commented on #102
Basically there are no <code>/bn set bluelounge</code>, <code>/bn set redlounge<code> commands it is as easy as <code>/bn set lounge</code>.  That will set the lobby spawn point.  Then you will need to create an arena (<code>/bn arenas create <name></code> and set some spawnpoints using the <code>/bn arenas addspawn <arena name></code>.

It is all on the quick start  guide if you want to have a re

[2013-05-24 12:53] Fireant456 opened #103 "the config will not load after restart"
Once the plugin starts with no config and it creates one it is fine, but after it is restarted it will not load it and the plugin will give the message to do /bn help for help...

I am using the latest dev build of bukkit and the plugin is up to date...

[2013-05-24 12:54] Fireant456 commented on #100
issue solved...

[2013-05-24 12:54] #100 closed, assigned to nobody

[2013-05-27 06:51] aarontwf commented on #103
Are you getting any errors in the console?

[2013-06-06 22:19] Feetsalot opened #104 "Support"
I am having major trouble with the commands of Battle night. I will list them here and I hope you can help me:
1. I want a blue spawn and a red spawn to be in two different places and have the players have more than 1 lives. This means when the players die they must go back to their spawn base (Blue or Red) and continue fighting.
2. Every time I save, close y server, then reopen the waypoints are

[2013-06-06 23:21] aarontwf commented on #104
I am releasing a new version this week.

[2013-06-07 00:17] Feetsalot commented on #104
Cool, will it allow you to do that and do you think you will get it out by tomorrow?

[2013-06-07 01:53] aarontwf commented on #104
Yep, they will be there.  I will try release and upload tomorrow.

[2013-06-07 13:33] aarontwf commented on #103
Fixed in v1.8.0

[2013-06-07 13:33] #103 closed, assigned to aarontwf

[2013-06-07 13:34] #102 closed, assigned to aarontwf

[2013-06-07 13:34] aarontwf commented on #101
Added in v1.8.0

[2013-06-07 13:34] #101 closed, assigned to aarontwf

[2013-06-07 13:34] aarontwf commented on #99
Fixed in v1.8.0

[2013-06-07 13:34] #99 closed, assigned to aarontwf

[2013-06-08 01:39] Feetsalot commented on #104
How do you set different blue and red spawns in v 1.8?

[2013-06-09 04:03] aarontwf commented on #104
Are you talking about the lobby or in an arena?

[2013-06-09 11:05] SpecialN opened #105 "Leather Armour"
Is there a way to add colours to armour. If so, how?

[2013-06-09 11:55] aarontwf commented on #105
Yes it is possible with v1.8.0.  If you still have a the default classes have a look at the Medic class.  Under <code>classes.Medic.armour.helmet</code> in Classes.yml there is a leather helmet with a pink colour.  The colour is under the <code>colour</code> tag in RGB format.  For any armour you want coloured add this tag with the colour you want it to be.

Hope this helped, if your still a bit s

[2013-06-10 04:37] SpecialN commented on #105
What are the values of the colours? Like which number represents which colour?
Thanks for the speedy reply

[2013-06-10 11:05] aarontwf commented on #105
Okay so here 177 is red, 93 is green and 155 is blue.  The format is <code>R, G, B</code>

[code]

I'm not sure if your familiar with RGB but for example a solid blue helmet would look like so:

[code]

You can use a tool like this http://www.colorpicker.com/ to pick a colour then just copy the R, G and B values in.

[2013-06-12 01:01] kris-chin opened #106 "1.8.0 Class Config Bug"
Whenever the class config file is modified on the server, the config gets reset back to the default, I can't add new classes anymore because of this.

[2013-06-13 15:55] alexrs98 opened #107 "Where to get the names?"
In the latest version, the format of the classes has changed and now used name, I would like to know where I can get the names of spells, weapons effects and accurate so that you can read the plugin, or you can read the ids of objects, effects and enchantments.
regards

[2013-06-14 02:54] aarontwf commented on #107
Have a read of the wiki, I have linked the places where you can get the names and IDs.  https://github.com/BattleNight/BattleNight-Core/wiki/Configuration#classesyml

[2013-06-14 02:54] #107 closed, assigned to nobody

[2013-06-16 10:54] #105 closed, assigned to aarontwf

[2013-06-17 16:59] alexrs98 commented on #106
When you take out the 1.8.1 and fixes this bug?

[2013-06-17 18:09] alexrs98 opened #108 "Class file compatibility with mobarena"
I have a problem, I put a mobarena on my server and the classes of these two plugins have the same names, no? Well what happens is that I can not put posters mobarena classes and leaving stripes below this plugin, also if I try to change using an external editor or plugin publishing sign, I can change, changed, and after putting back to battlenight class. It's annoying and I'll have to put differe

[2013-06-17 20:39] aarontwf commented on #106
When I have fixed a couple more bugs.

[2013-06-21 18:53] cbergen1 opened #109 "Can't set red or blue lounge. Just lounge"
i've tryied everything in my config file and looked up videos on youtube. when i try to make a re lounge or a blue lounge, it says unknown command. typ /bn hel for more info. My arena also doesnt save, it just is affected by the tnt and is not protected

[2013-06-21 22:49] aarontwf commented on #109
That's because there is only single lounge use '/bn set lounge'.  By arena not saving do you mean not protected?  BattleNight does not have any arena protection yet.  You will need to use another plugin to do this.

[2013-06-21 22:50] #109 closed, assigned to aarontwf

[2013-06-21 23:46] cbergen1 commented on #109
Thanks for the clarification. I saw youtube videos of other people setting more than one lounge for the blue and red team. I just made my arena a FFA arena so I don't have anymore problems.

[2013-06-22 04:44] Arcental opened #110 "Arena Spawns"
I've recently started using this again and I discovered you that you changed the spawning system. Can you add a option thing so everyone from one team spawn at one point and everyone on the other team spawns in another one point.

[2013-06-22 20:36] Arcental commented on #106
I have this problem also. I think its best to keep backups of your current class file for now :)

[2013-06-22 21:19] Arcental opened #111 "Plugin not recognizing commands."
Sometimes the BN plugin does not recognize any of its commands (ex. /bn join, /bn set lounge, /bn help etc) it simply tells the player to type /bn help. It works after a few restarts sometimes. Its the only other plugins on my server is Essentials and WorldEdit.

Edit: I found the source of the problem which is the class file but I can't find any errors in my custom classes. :/
Edit2: I found the

[2013-06-23 12:34] aarontwf commented on #111
You can use ID's but I have linked the page with the names on [this wiki page](https://github.com/BattleNight/BattleNight-Core/wiki/Configuration#enchantments).

[2013-06-23 12:34] #111 closed, assigned to nobody

[2013-06-25 03:31] aarontwf commented on #108
Are you still having issues with this in v1.8.1?

[2013-06-27 17:50] Jery47 opened #112 "Change the music end ?"
I wonder if it is possible to create or download more music at the end?
If it is possible to create new music how you made​​?
Sorry for a possible fault, I'm french :)

[2013-06-28 21:41] aarontwf commented on #112
Yes it is.  If you go to the wiki and then the FAQ section I wrote a bit of a tutorial there.

[2013-07-17 05:55] server075 commented on #91
Still no fix, ill post the same:

Whenever a round ends, the players are automatically tp'd out of the arena, or are supposed to, anyways. However, NoCheatPlus finds this tp as "survivalfly", with very high violation levels, and all my players are autokicked from the server due to that.

How ever i removed it in NoCheat+ (atm) so we can still play Battlenight.

[2013-07-17 05:56] server075 commented on #91
Pancakebang  commented 4 months ago  o_O

[2013-07-17 05:58] server075 commented on #110
maybe also a spawn kill protection in sec or area, people are still noobs and like to spawn kill players.

[2013-07-17 06:58] #112 closed, assigned to aarontwf

[2013-08-11 06:09] aarontwf commented on #91
Fixed in v1.9.0

[2013-08-11 06:09] #91 closed, assigned to aarontwf

[2013-08-11 06:10] aarontwf commented on #86
Fixed in v1.9.0

[2013-08-11 06:10] #86 closed, assigned to aarontwf

[2013-08-21 15:05] alexrs98 opened #113 "Scoreboard sign"
You could put a system put in a poster [battlenight] and under the name of the arena to create a scoreboard to tell you what's inside players (no names, if not the number of players), the remainder of the game, if you are the lobby or in game ...
Also a poster that puts [join] to join that arena.
A greeting

[2013-08-24 03:25] #85 closed, assigned to aarontwf

[2013-08-25 01:17] WauloK opened #114 "BN disables 'pvp deny' in the whole world"
I have one world called 'world' where all my games reside.
There's many regions and most have a lobby with PVP DENY set in WorldGuard.
If I enable BattleNight it changes them all to PVP ALLOW in all regions of the world.

BattleNight v1.9.1
Bukkit 1.6.2

[2013-09-01 00:38] RaminKav opened #115 "Scoreboards disapearing"
My scoreboard works on the lobby, but once it starts the BN match, it just disapears and wont show up to keep the score, furthermore, players, although they are teamed up by color, still can hit other players. this wasnt an issue during the first few days i added battle night, but then this occured, please tell me if you need any more info. im using mcmmo and mob arena if that means anything, as w

[2013-09-01 01:49] aarontwf commented on #115
Which version are you using?

[2013-09-01 14:38] RaminKav commented on #115
i run a 1.5.2 server CB, so i use the latest working 1.5.2 version BN v. 1.8.2

[2013-09-03 11:00] Mysterix27 opened #116 "Mutiple bugs"
I created two arenas but when i got around to voting a problem occurred. Typing /bn vote "arena name" gives me an error "An arena by that name does not exist." Second problem is that when someone falls below ~5 hearts they get insta killed. Quite annoying.

[2013-09-03 11:10] aarontwf commented on #116
1. /bn vote only works on the arenas on the voting scoreboard.  Was it on there?
2. That is a Bukkit bug which does not take armour damage into account on the damage event that brings the player to <= 0 health.

[2013-09-03 11:12] aarontwf commented on #115
Try updating and testing with 1.5.2 on a test server.  Although listed as 1.6.2 it may run since I do not remember adding any new 1.6 API features.

[2013-09-03 12:47] Mysterix27 commented on #116
I figured it out - i needed to write the number of the arena, not the name (silly me :D)
As for the bug I hope they fix it soon :)

Thank you for replying :)

[2013-09-03 16:48] Mysterix27 commented on #116
I have one more question tho: Is it possible to change the battle gamemode from Survival to Adventure so players can't break the arena?

[2013-09-15 23:19] aarontwf commented on #114
Fixed in v1.9.2

[2013-09-15 23:19] #114 closed, assigned to aarontwf

[2013-09-15 23:19] aarontwf commented on #116
I tried that but unfortunately it means players cant click on signs.

[2013-09-15 23:19] #116 closed, assigned to aarontwf

[2013-10-19 21:51] Misterio77 opened #118 "The battle doesnt start!"
hello, me and 2 friends try to play on the arena, i set everything, but even after everyone already selected a class and hit start, the battle doesnt begins!
please help

[2013-10-19 23:02] aarontwf commented on #118
Any errors in the console?

[2013-10-20 16:23] Misterio77 commented on #118
nevermind, i reinstalled the plugin and it worked, but thanks anyway ^^

2013/10/19, LimeByte notifications@github.com:

[2013-10-20 19:51] Fireant456 opened #119 "cannot ready up in a battle"
Just as the title says that is all there is to it. Players will punch the block and it will not ready them up. Please help!!!

[2013-10-20 21:41] Fireant456 commented on #119
the iron block will not work to ready players up but the command will

[2013-10-20 21:42] Fireant456 opened #120 "Join a certain team"
Add the ability to join a certain team please...

[2013-10-21 00:44] #118 closed, assigned to aarontwf

[2013-10-21 00:46] aarontwf commented on #119
Make sure ReadyBlock in config.yml is like this <code>ReadyBlock: iron-block</code> not this <code>ReadyBlock: 42</code>.

[2013-11-12 20:05] geshsi opened #121 "Game not starting"
When typing /bn ready I get the following error. How do I fix this?

21:02:02 CONSOLE: [WARNING] [Essentials] Task #11967 for Essentials v2.12.1 generated an exception
21:02:02 CONSOLE: exception executing command 'bn' in plugin BattleNight v1.10.0
21:02:02 CONSOLE: java.lang.IllegalArgumentException: n must be positive

[2013-11-13 04:32] aarontwf commented on #121
Try a reload.

[2013-11-13 21:36] geshsi commented on #121
when server restarts, every bn command I input, it only replies me back like this:

22:35:15 CONSOLE: [INFO] Type /bn help to show the help menu.

[2013-11-18 12:51] #121 closed, assigned to nobody

[2013-11-18 12:53] geshsi opened #122 "Errors in console (Bukkit 1.6.4 R2)"
I am having the following error when executing the following commands.

![error](https://f.cloud.github.com/assets/3117866/1562765/501f0a4c-5050-11e3-8f40-c0b65934f7cd.JPG)

[2014-02-07 04:22] Fireant456 commented on #119
yes the issue was fixed. Thanks!

[2014-02-10 09:36] #119 closed, assigned to nobody

[2014-05-22 02:51] TheCoolsurdy opened #123 "Bug with an player readying up"
Hello,
Whenever my players join the BattleNight arena, they select their class, and they ready up, which works fine. It says 'Player' is ready! However, when the last person to ready up tries to ready up by punching the iron block, nothing happens. No message is displayed. This is the error message I get through the console.

#### Error message:

[code]

[2014-06-25 04:22] #108 closed, assigned to aarontwf

[2014-06-25 04:23] aarontwf commented on #104
Duplicate issue

[2014-06-25 04:23] #104 closed, assigned to aarontwf

[2014-06-25 04:29] #2 closed, assigned to aarontwf

[2014-06-25 04:29] #3 closed, assigned to aarontwf

[2014-07-10 06:09] Unholyjulien commented on #123
I have the same issue.  I have a player with me join in BN for a test run but we both choose a class and ready up but then nothing happens at all.  Also you guys used to have teams red and blue and now its gone.  I was wondering where is the TDM or is there just no teams anymore.  But i need this fixed so my players can play.

[2014-07-12 11:35] aarontwf opened #124 "UUIDs"
Switch player name storage to UUIDs

[2014-07-12 11:35] #124 closed, assigned to aarontwf

[2014-07-12 11:42] aarontwf commented on #122
Duplicate of #123

[2014-07-12 11:42] #122 closed, assigned to aarontwf

[2014-07-12 11:45] aarontwf commented on #123
@Unholyjulien You can change the type of Battle in the config file from FFA to TDM. See [Configuration](https://github.com/BattleNight/BattleNight-Core/wiki/Configuration).

[2014-07-13 00:57] Unholyjulien commented on #123
thanks ill try that

On Sat, Jul 12, 2014 at 5:45 AM, Aaron Wilson notifications@github.com
wrote:

[2014-07-13 00:58] Unholyjulien commented on #123
the game will still not start thou, thats the main issue

On Sat, Jul 12, 2014 at 6:57 PM, KingJulien7lizard . <
tommylizard77@gmail.com> wrote:

[2014-07-13 10:35] aarontwf commented on #123
Fixed in v1.11.0

[2014-07-13 10:35] #123 closed, assigned to aarontwf

[2014-07-13 10:36] aarontwf commented on #115
Fixed in v1.11.0

[2014-07-13 10:36] #115 closed, assigned to aarontwf

[2014-07-14 01:57] Unholyjulien commented on #123
I think your totally ignoring me to the fact that when 2 people join and
click a class then click the iron to ready up, NOTHING HAPPENS.  I updated
the battle night today, and set all the waypoints and spawns, which I'm a
little upset that there is no longer a blue lounge or red lounge like back
in the day.  just one lounge.  how the heck am I suppose to know whos on my
team.  The fact is it does

[2014-07-14 02:10] Unholyjulien commented on #123
By the way this is version 1.9.2 for battle night so the issue remains.  also .bn test <test>  how do I get that to work?  Just please contact me to try to get the ready up to work,  everyone is ready but nothing happens still.

[2014-07-14 03:10] aarontwf commented on #123
@Unholyjulien Try with v1.11. You can [download it here](http://dev.bukkit.org/bukkit-plugins/battlenight/files/34-battle-night-v1-11-0/).

[2014-07-14 04:15] Unholyjulien commented on #123
that works. I am using that 1.11 and it finally works thanks limebyte

[2019-11-19 22:43] #106 closed, assigned to aarontwf

[2021-01-29 17:36] #8 closed, assigned to aarontwf